
form {
  justify-content: center;
}

#result {
  align-items: center;
}

#element {
  background-color: blue;
  color: white;
  box-shadow: 2px 1px rgba(240, 240, 240, 0.9);
  padding: 15px;
  width: 60px;
}

// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
